<ion-view view-title="额外需求">
    <ion-content class="callCar" scroll="false">
            <div class="">
                <ion-checkbox class="item-checkbox-right" ng-model="a">搬运</ion-checkbox>
            </div>
            <div class="">
                <ion-checkbox  class="item-checkbox-right"ng-model="b">安装</ion-checkbox>
            </div>
            <div class="">
                <ion-checkbox  class="item-checkbox-right"ng-model="c">回单</ion-checkbox>
            </div>
            <div class="item item-input">

                <div class="item-title">
                    需要回款：
                </div>
                <input type="text">
            </div>
        <button class="button button-small button-balanced callCar-dt">
            提 交
        </button>

    </ion-content>
</ion-view>
