<ion-view view-title="下单叫车">
    <ion-content class="callCar" scroll="false">
            <div class="item item-input callCar-dt">
                <img class="callCar-timg" src="../img/timg.png">

                <div class="item-title">
                    用车时间：
                </div>
                <input type="datetime-local" ng-model="time">
            </div>
            <div class="item item-input callCar-dt">
                <span class="item-title">
                    起点：
                </span>
                <a class="button button-outline button-dark button-small" href="#/tabs/callCar/place/start">
                    {{ $root.newOrder.start.p }}
                </a>
            </div>
            <div class="item item-input">
                <span class="item-title">
                    终点：
                </span>
                <a class="button button-outline button-dark button-small" href="#/tabs/callCar/place/end">
                    {{ $root.newOrder.end.p }}
                </a>
            </div>

            <div class="item item-input callCar-dt">

                <div class="item-title">
                    需要车型：
                </div>
                <a class="button button-outline button-dark button-small" href="#tabs/callCar/type">
                    {{ $root.newOrder.carType }}
                </a>
            </div>
            <div class="item item-input">

                <div class="item-title">
                    额外要求：
                </div>
                <a class="button button-outline button-dark button-small" href="#tabs/callCar/additionalDemand">
                </a>
            </div>
            <div class="item item-input">

                <div class="item-title">
                    备注：
                </div>
                <a class="button button-outline button-dark button-small" href="#/tabs/callCar/remark">
                    {{ $root.newOrder.remark }}
                </a>
            </div>

        <button class="button button-small button-balanced callCar-dt" ng-click="sub()">
            提 交
        </button>

    </ion-content>
</ion-view>
