<ion-view view-title="下单叫车">
    <ion-content class="callCar" scroll="false">
            <div class="item item-input item-select callCar-dt">
                <img class="callCar-timg" src="../img/timg.png">

                <div class="item-title">
                    用车时间：
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </div>
            <div class="item item-input callCar-dt">
                <span class="item-title">
                    起点：
                </span>
                <a class="button button-outline button-dark button-small" href="#/tabs/callCar/map">
                    那那那
                </a>
            </div>
            <div class="item item-input">
                <span class="item-title">
                    终点：
                </span>
                <a class="button button-outline button-dark button-small" href="">
                    哪哪哪哪哪
                </a>
            </div>

            <div class="item item-input callCar-dt">

                <div class="item-title">
                    需要车型：
                </div>
                <div class="">
                    xxxxxx
                </div>
            </div>
            <div class="item item-input">

                <div class="item-title">
                    额外要求：
                </div>
                <div class="">
                    xxxxxx
                </div>
            </div>
            <div class="item item-input">

                <div class="item-title">
                    备注：
                </div>
                <a class="button button-outline button-dark button-small" href="#/tabs/callCar/remark">
                    啥啥啥
                </a>
            </div>

        <button class="button button-small button-balanced callCar-dt">
            提 交
        </button>

    </ion-content>
</ion-view>
