<ion-view view-title="需要车型" class="type">
  <ion-content>
            <div class="item" ng-click="sub('小型面包')">
                <img class="" src="../img/car1.png">
                <div class="info">
                    <div class="">
                        <span class="name">小型面包</span>
                        <span>/起步价:<span class="price">38</span>元(5公里)</span>
                    </div>
                    <div class="">
                        <div>
                            <span>载重：</span>
                            <span>1吨</span>
                        </div>
                        <div>
                            <span>长*宽*高：</span>
                            <span>1.7*1.2*1m</span>
                        </div>
                        <div>
                            <span>超公里费：</span>
                            <span>3.5元/公里</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item" ng-click="sub('中型面包')">
                <img class="" src="../img/car2.png">
                <div class="info">
                    <div class="">
                        <span class="name">中型面包</span>
                        <span>/起步价:<span class="price">38</span>元(5公里)</span>
                    </div>
                    <div class="">
                        <div>
                            <span>载重：</span>
                            <span>1吨</span>
                        </div>
                        <div>
                            <span>长*宽*高：</span>
                            <span>1.7*1.2*1m</span>
                        </div>
                        <div>
                            <span>超公里费：</span>
                            <span>3.5元/公里</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item" ng-click="sub('小型货车')">
                <img class="" src="../img/car3.png">
                <div class="info">
                    <div class="">
                        <span class="name">小型货车</span>
                        <span>/起步价:<span class="price">38</span>元(5公里)</span>
                    </div>
                    <div class="">
                        <div>
                            <span>载重：</span>
                            <span>1吨</span>
                        </div>
                        <div>
                            <span>长*宽*高：</span>
                            <span>1.7*1.2*1m</span>
                        </div>
                        <div>
                            <span>超公里费：</span>
                            <span>3.5元/公里</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item" ng-click="sub('中型货车')">
                <img class="" src="../img/car4.png">
                <div class="info">
                    <div class="">
                        <span class="name">中型货车</span>
                        <span>/起步价:<span class="price">38</span>元(5公里)</span>
                    </div>
                    <div class="">
                        <div>
                            <span>载重：</span>
                            <span>1吨</span>
                        </div>
                        <div>
                            <span>长*宽*高：</span>
                            <span>1.7*1.2*1m</span>
                        </div>
                        <div>
                            <span>超公里费：</span>
                            <span>3.5元/公里</span>
                        </div>
                    </div>

                </div>
            </div>
  </ion-content>
</ion-view>
