<ion-view view-title="我">
    <ion-content class="me"  scroll="false">
        <ion-item class="callCar-dt" ng-click="login()">
            <img src="../img/user.png">
            <div class="user">
                <p>
                    {{ tell }}
                </p>
            </div>
        </ion-item>
        <ion-item class="iitem callCar-dt">
            <span>建议反馈</span>
        </ion-item>
        <ion-item class="iitem">
            <span>收费标准</span>
        </ion-item>
        <ion-item class="iitem">
            <span>我的司机</span>
        </ion-item>
        <ion-item class="iitem" ng-click="logout()">
            <span>退出登录</span>
        </ion-item>
    </ion-content>
</ion-view>
