<ion-view view-title="我">
    <ion-content class="me">
        <ion-item class="callCar-dt">
            <img src="../img/user.png">
            <div class="user">
                <span>
                    黄炳乾
                </span>
                <p>
                    13588275019
                </p>
            </div>
        </ion-item>
        <ion-item class="iitem callCar-dt">
            <span>建议反馈</span>
        </ion-item>
        <ion-item class="iitem">
            <span>收费标准</span>
        </ion-item>
        <ion-item class="iitem">
            <span>我的司机</span>
        </ion-item>
        <ion-item class="iitem">
            <span>退出登录</span>
        </ion-item>
    </ion-content>
</ion-view>
