<ion-view view-title="订单详情" class="order-detail orderInProgress">

    <ion-content  scroll="false">
        <ion-item class="callCar-dt">
            <img src="{{ headPortraitURL }}">
            <div class="driver">
                <p>
                    {{ driver.name }}
                </p>
                <span>
                    {{ driver.licensePlateNumber }}
                </span>
                <span>
                   &nbsp;|&nbsp;
                </span>
                <span>
                   {{ order.vehicleType }}
                </span>

            </div>
            <a class="button button-icon ion-ios-telephone"></a>
        </ion-item>

        <ion-item class="paddingtop">
            <div class="route">
                    <span class="">
                        起点：
                    </span>
                <span>
                        {{ order.start }}
                    </span>
                <div></div>
                <span class="">
                        终点：
                    </span>
                <span>
                        {{ order.end }}
                    </span>
            </div>
                <div class="cost">
                    <span class="num">{{ order.pay }}</span>
                    <span>元</span>
                </div>

        </ion-item>
        <div id="container">

        </div>
    </ion-content>
</ion-view>
