<ion-view view-title="订单详情" class="order-detail">

    <ion-content  scroll="false">
        <ion-item class="callCar-dt">
            <img src="../img/user.png">
            <div class="driver">
                <p>
                    黄师傅
                </p>
                <span>
                    蒙Axxx
                </span>
                <span>
                   &nbsp;|&nbsp;
                </span>
                <span>
                   xx车
                </span>

            </div>
            <a class="button button-icon ion-ios-telephone"></a>
        </ion-item>

        <ion-item>
            <div class="route">
                    <span class="">
                        起点：
                    </span>
                <span>
                        那那那
                    </span>
                <div></div>
                <span class="">
                        终点：
                    </span>
                <span>
                        哪哪哪哪哪
                    </span>
            </div>
                <div class="cost">
                    <span class="num">99</span>
                    <span>元</span>
                </div>

        </ion-item>
        <ion-item>
                    <span class="">
                        评价：
                    </span>
                <div class="stars">
                    <a class="button button-icon ion-android-star"></a>
                    <a class="button button-icon ion-android-star"></a>
                    <a class="button button-icon ion-android-star"></a>
                    <a class="button button-icon ion-android-star"></a>
                    <a class="button button-icon ion-android-star"></a>
                </div>
                <div class="content" contenteditable="true">
                    wefwf
                    <button class="button button-clear button-stable">
                        清空
                    </button>
                </div>

        </ion-item>
    </ion-content>
</ion-view>
