<ion-view view-title="订单" class="order">
    <div class="tabs tabs-striped tabs-top tabs-color-positive">
        <a id="notfinish" class="active tab-item" ng-click="turnTabs('finish','notfinish')">
            进行中
        </a>
        <a id="finish" class="tab-item" ng-click="turnTabs('notfinish','finish')">
            已完成
        </a>
    </div>

    <ion-content>

        <ion-list>
            <ion-item ng-repeat="order in orderList">
                <a ng-click="dtl('{{ order.id }}', '{{ order.orderStatus }}')">
                    <div>
                        <span class="time">{{ order.orderTime }}</span>
                        <span class="state">{{ order.orderStatus }}</span>
                    </div>
                    <div class="route">
                        <span class="">
                            起点：
                        </span>
                        <span>
                            {{ order.start }}
                        </span>
                        <div></div>
                        <span class="">
                            终点：
                        </span>
                        <span>
                            {{ order.end }}
                        </span>
                    </div>


                <div>
                    <span class="cost">{{ order.pay }}元</span>
                    <button class="button button-small button-positive">{{ order.btn }}</button>
                </div>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
