<ion-view view-title="订单详情" class="order-detail">

    <ion-content  scroll="false">
        <ion-item class="callCar-dt">
            <img src="{{ headPortraitURL }}">
            <div class="driver">
                <p>
                    {{ driver.name }}
                </p>
                <span>
                    {{ driver.licensePlateNumber }}
                </span>
                <span>
                   &nbsp;|&nbsp;
                </span>
                <span>
                   {{ order.vehicleType }}
                </span>

            </div>
            <a class="button button-icon ion-ios-telephone"></a>
        </ion-item>

        <ion-item class="paddingtop">
            <div class="route">
                    <span class="">
                        起点：
                    </span>
                <span>
                        {{ order.start }}
                    </span>
                <div></div>
                <span class="">
                        终点：
                    </span>
                <span>
                        {{ order.end }}
                    </span>
            </div>
                <div class="cost">
                    <span class="num">{{ order.pay }}</span>
                    <span>元</span>
                </div>

        </ion-item>
        <ion-item class="paddingtop">
                    <span class="">
                        评价：
                    </span>
                <div class="stars">
                    <a id="1" class="button button-icon ion-android-star"></a>
                    <a id="2" class="button button-icon ion-android-star"></a>
                    <a id="3" class="button button-icon ion-android-star"></a>
                    <a id="4" class="button button-icon ion-android-star"></a>
                    <a id="5" class="button button-icon ion-android-star"></a>
                </div>
                <div class="content" contenteditable="true">
                    <textarea id="evaluation"></textarea>
                    <button class="button button-clear button-stable" ng-click="cleartext()">
                        清空
                    </button>
                </div>

        </ion-item>
        <button class="button button-small button-balanced button-sub" ng-click="sub()">
            提 交
        </button>

    </ion-content>
</ion-view>
