/* Empty. Add your own CSS if you like */
.nav-bar{
 background-color: #fcfcfc;
}
ion-content{
  background-color: #ececec;
  padding-top: 15px;
  overflow: hidden;
}
.callCar-dt{
  margin-top: 15px;
}
.callCar-timg{
  width: 26px;
}
.callCar .button-balanced{
  position: absolute;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  height: 35px;
  font-size: 14px;
}
.callCar .button-outline{
  border: none;
  width: 50%;
  text-align: left;
}
.remark .content{
  width: 95%;
  margin: 10px auto;
  background-color: #ffffff;
  height: 100px;
  border: 1px solid #c4c4c4;
  padding: 5px 8px;
  position: relative;
}
.remark .button-balanced{
  width: 60%;
  margin-left: 20%;
  font-size: 14px;

}
.remark .button-stable{
  position: absolute;
  right: 0;
  font-size: 14px;

  bottom: -3px;
}
.order .tabs{
  height: 30px;
  line-height: 30px;
}
